*{
   padding: 0;
   margin: 0;
    
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

body{
	font-family: 'montserratregular';
	background-color: #f1f1f1;
}

.container{
	width: 1200px;
	margin: 0 auto;
}

h1{
	text-align: center;
	font-size: 50px;
	margin-top: 75px;
	margin-bottom: 50px;

}


p{
	text-align: center;
	font-size: 20px;
	line-height: 1.8;
	margin-bottom: 70px;
}

nav {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	margin-bottom: 65px;
}

nav > li {
	list-style: none;
}

nav > li > a.menu {
	text-decoration: none;
	color: #484848;
	text-transform: uppercase;
	font-weight: bold;
	padding: 17px 35px;
	
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	transition: 0.3s all ;	
}

nav > li > a:hover{
	background-color: #f42267;
	color: #ffffff;
	-webkit-box-shadow: 0px 0px 38px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 38px -9px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 38px -9px rgba(0,0,0,0.75);
}

.gallery{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

}

.gallery a{
	margin-bottom: 30px;

}

.gallery a img {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

}

.button{
	color: #ffffff;
	text-decoration: none;
	width:145px;
	height: 45px;
	text-transform: uppercase;
	background-color: #f42267;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: none;
	display: block;
	margin: 65px auto 115px;

	transition: 0.3s all ;	
}

.button:hover{
	-webkit-box-shadow: 0px 21px 23px 0px rgba(255,89,144,1);
	-moz-box-shadow: 0px 21px 23px 0px rgba(255,89,144,1);
	box-shadow: 0px 21px 23px 0px rgba(255,89,144,1);
}
